
/* Custom CSS for the carousel component */
:root{
    --nbr-items-visible-carousel-lg: 5;
    --carousel-item-margin-right: 15px;
}
.carousel-item{
    margin-right: var(--carousel-item-margin-right);
    width: calc((100% / var(--nbr-items-visible-carousel-lg)) - ((var(--nbr-items-visible-carousel-lg) - 0) * var(--carousel-item-margin-right)));
    flex-shrink: 0;
}
.track{
    transition-property: all;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(0.6, 0.04, 0.2, 1);
}