
/* Custom CSS for the game card component */
:root{
    --nbr-items-visible-carousel-lg: 5;
    --carousel-item-margin-right: 15px;
}
.game-title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 5px;
    width: 0;
    background-color: theme('colors.primary');
    transition:  all .2s ease-in-out;
}