
/* Custom CSS for the game card component */

.hero .game-title{
    --font-size: 30px;
    --line-height: 1.21;
    --number-of-lines: 2;
    font-size: var(--font-size);
    line-height: var(--line-height);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    height: calc(var(--font-size) * var(--line-height) * var(--number-of-lines));
    text-overflow: ellipsis;
    word-wrap:break-word;
    overflow: hidden;
}